rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /workers/{workerId} {
      allow read, write: if true;
    }

    match /requests/{requestId} {
      allow read, write: if true;
    }

    match /passcodes/{emailId} {
      allow read, write: if true;
    }
  }
}
